.navbar{
     background-color: rgb(41, 114, 68) ;
     height: 70px;
     align-items: center;
     position:sticky;
     top: 0px;
     z-index: 10;
}
.logo h4{
     color: rgb(251, 251, 251);
     font-family: sans-serif;
     letter-spacing: .30rem;
     font-weight: 600;
     text-shadow: 2px 2px 16px rgb(0, 0, 0);
     cursor: pointer;
}
.icons{
     color: rgb(255, 255, 255);
     cursor: pointer;
     padding-right: 30px;
     padding-bottom: 10px;
}
.icons sup{
     color: rgb(0, 0, 0);
     font-size: 20px;
     font-weight: 500;
     text-shadow: 2px 2px 16px rgb(255, 255, 255);

}