
.App{
  background-color: rgb(191, 195, 195);
}
.App p{
  display: inline-block;
  transform: translateX(-50%);
  position: absolute;
  top: 10%;
  left:50%;
  padding: 5px 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0  8px black;
}