
.App{
  background-color: rgb(246, 229, 229);
  box-sizing: border-box;
}
.header-content{
  display: inline-block;
  transform: translateX(-50%);
  position: absolute;
  top: 18%;
  left:50%;
  padding: 5px 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0  8px black;
}
.cart-container{
  display: grid;
  grid-template-columns: 4fr 1fr;
  
}
.cart-section{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin: 110px 50px;
  overflow: hidden;
  z-index: 0.01;
  position: relative;
}
@media screen and (max-width:600px) and (min-width:350px) {
  .cart-section{
    grid-template-columns: 1fr;
    margin: 110px 10px;
  }
  .cart-container{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;

  }
  .header-content{
    top: 100px;
    margin-bottom: 40px;
  }
}
.order-container{
  width: 350px;
  height: 600px;
  position: fixed;
  margin-top: 10px;
  box-shadow: rgba(60, 64, 67, 0.4) 0px 1px 2px 0px, rgba(60, 64, 67, 0.5) 0px 2px 6px 2px;
  border-radius: 20px;
  margin-right: 10px;
  background-color:rgb(246, 229, 229);
}
@media screen and (max-width:600px) and (min-width:350px) {
.order-container{
  position: absolute;
  width: 100%;
  margin: 20px 10px;

  }
} 

.button-div{
  margin: 30px 40px;
  position: absolute;
  bottom: 110px;
}
.deleteIcon{
  font-size: 180px;
  text-align: center;
}
.close{
  position: absolute;
  left: 13px;
  top: 8px;
}
.question-ans{
  width: 50%;
  height: 600px;
  padding: 20px;
}
@media screen and (max-width:770px) and (min-width:350px) {
  .question-ans {
    width: 100% !important;
    margin-top: 160%;
    margin-bottom: 50px;
    padding-bottom: 50px;
  }
}